<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" #exampleModel id="exampleModal"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form [formGroup]="ingredientForm" (ngSubmit)="saveIngredientData()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Ingredient</h5>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="ingredientID">ID</label>
            <input type="email" class="form-control" id="ingredientID" placeholder="ID" formControlName="id">
          </div>
          <div class="form-group">
            <label for="emailInput">Name</label>
            <input type="email" class="form-control" id="emailInput" placeholder="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="descInput">Description</label>
            <input type="email" class="form-control" id="descInput" placeholder="description" formControlName="description">
          </div><div class="form-group">
            <label for="quantityInput">Current Quantity</label>
            <input type="email" class="form-control" id="quantityInput" placeholder="Current Quantity" formControlName="currentQuantity">
          </div>
        </div>
        <div class="modal-footer">
          <!--use as a div to prevent a submit action when click on close-->
          <div class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</div>
          <button type="submit" [disabled]="ingredientForm.invalid" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
