<!-- Button trigger modal -->
<button type="button" (click)="openModal()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Ingredient
</button>

<!-- Modal -->
<app-ingredient-add #ingredientAddComponent  (modalClosed)="onModalClosed($event)"></app-ingredient-add>
<app-ingredient-edit #ingredientEditComponent  (modalClosed)="onEditModalClosed($event)"></app-ingredient-edit>

<app-grid [gridData]="ingredientList" [columnDefs]="columnDefs" [context]="context"></app-grid>
