<h1 class="text-center">Inventory Management System </h1>


<div class="row">
  <div class="row col-2">
    <div class="menu-items-list">
      <div class="menu-item" [routerLink]="'/dashboard'" routerLinkActive="active">Dashboard</div>
      <div class="menu-item" [routerLink]="'/ingredient-list'" routerLinkActive="active">Ingredients</div>
      <div class="menu-item" [routerLink]="'/grn-list'"  routerLinkActive="active">GRN</div>
      <div class="menu-item" [routerLink]="'/product-list'"  routerLinkActive="active">Products</div>
      <div class="menu-item" [routerLink]="'/recipe-list'"  routerLinkActive="active">Recipes</div>
      <div class="menu-item" [routerLink]="'/batch-list'"  routerLinkActive="active">Batches</div>
      <div class="menu-item" [routerLink]="'/order-list'"  routerLinkActive="active">Orders</div>
      <div class="menu-item" [routerLink]="'/user-list'"  routerLinkActive="active">Users</div>
      <div class="menu-item" [routerLink]="'/location-list'"  routerLinkActive="active">Locations</div>

    </div>
  </div>
  <div class="row col-10">
    <router-outlet></router-outlet>
  </div>
</div>




