

<div class="row justify-content-around">
  <div class=" menu-box col-md-2">
    <div class="row justify-content-between">
      <div class="col-md-8 justify-content-center">Batches made</div>
      <div class="col-md-4 justify-content-center">18</div>
    </div>
  </div>
  <div class="menu-box col-md-2">
    <div class="row justify-content-between">
      <div class="col-md-8 justify-content-center">Low on Stocks</div>
      <div class="col-md-4 justify-content-center">2</div>
    </div>
  </div>
  <div class="menu-box col-md-2">
    <div class="row justify-content-between">
      <div class="col-md-8 justify-content-center">Out Of stocks</div>
      <div class="col-md-4 justify-content-center">4</div>
    </div>
  </div>
  <div class="menu-box col-md-2">
    <div class="row justify-content-between">
      <div class="col-md-8 justify-content-center">Suppliers</div>
      <div class="col-md-4 justify-content-center">7</div>
    </div>
  </div>
</div>

<div class="row pt-5">
  <div class="grid-box">
    <ag-grid-angular
      style="width: 90%; height: 40vh;"
      class="ag-theme-quartz"
      [rowData]="rowData"
      [gridOptions] = "gridOptions"
      [columnDefs]="columnDefs">
    </ag-grid-angular>
  </div>
</div>
