.menu-box {
  border: 2px black solid;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  height: 15vh;
  align-content: center;
}

::ng-deep .ag-theme-quartz {
  --ag-borders: none;
  /*--ag-row-border-style: none;*/
}

/* we set border radius for header row  */
::ng-deep  .ag-header {
  border-radius: 10px;
}

::ng-deep  .ag-row {
  border-radius: 10px;
}

.grid-box {
  display: flex;
  justify-content: center;
}

::ng-deep .ag-header-cell {
  background: lightgray;
}
