<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="locationEditModel" #productAddModel id="productAddModel"
     aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <form [formGroup]="productForm" (ngSubmit)="AddNewProductData()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="emailInput">Name</label>
            <input type="email" class="form-control" id="emailInput" placeholder="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="descInput">Description</label>
            <input type="email" class="form-control" id="descInput" placeholder="description" formControlName="description">
          </div>
          <div class="form-group">
            <label for="typeInput">Type</label>
            <input type="email" class="form-control" id="typeInput" placeholder="type" formControlName="type">
          </div>
          <div class="form-group">
            <label for="priceInput">Price</label>
            <input type="number" class="form-control" id="priceInput" placeholder="price" formControlName="selling_price">
          </div>
          <div class="form-group">
            <label for="batchInput">Batch Size</label>
            <input type="number" class="form-control" id="batchInput" placeholder="batch size" formControlName="batch_size">
          </div>
          <div class="form-group">
            <label for="expireInput">Expire Duration</label>
            <input type="number" class="form-control" id="expireInput" placeholder="expire duration" formControlName="expire_duration">
          </div>
        </div>
        <div class="modal-footer">
          <!--use as a div to prevent a submit action when click on close-->
          <div class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</div>
          <button type="submit" [disabled]="productForm.invalid" class="btn btn-primary">Save changes</button>
        </div>
        <!-- search user by name -->
        <div class="modal-body suggested-box row mt-10" style="margin-top: 10px;">
          <div class="row">
            <div class="row">
              <h4>Search Recipe to assign</h4>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="email" id="name-input" (keyup)="findRecipesByName()" >
            </div>
          </div>
          <div class="modal-body suggested-box pt-10 mt-10">
            <ng-container *ngIf="suggestedRecipeList && suggestedRecipeList.length >= 0">
              <label for="descInput">Suggested Recipes</label>
              <div *ngFor="let suggestedRecipe of suggestedRecipeList">
                <div class="row" style="margin-top: 10px;">
                  <div class="col">
                    {{suggestedRecipe?.id}}
                  </div>
                  <div class="col">
                    {{suggestedRecipe?.name}}
                  </div>
                  <div class="col">
                    {{suggestedRecipe?.description}}
                  </div>
                  <div class="col">
                    <button type="button" (click)="assignRecipe(suggestedRecipe?.id)" class="btn btn-primary">Assign</button>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <!-- Assigned users list--->
        <div class="modal-body pt-10">
          <ng-container *ngIf="!assignedRecipe; else elsePart">
            <div class="alert alert-primary mt-3" role="alert">
              No Assigned Recipe
            </div>
          </ng-container>
          <ng-template #elsePart>
            <h4>Assigned Recipe</h4>
              <div class="row" style="margin-top: 10px;">
                <div class="col">
                  {{assignedRecipe?.id}}
                </div>
                <div class="col">
                  {{assignedRecipe?.name}}
                </div>
                <div class="col">
                  {{assignedRecipe?.description}}
                </div>
              </div>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
